body{
    background: #666;
    color: #ffff00;
    font-size: 20px;
    opacity:0.3;
}
.container{
    border:2px solid #cdcdcd;
    position: relative;
    overflow: hidden;
    width:90%;
    margin:10px auto;
}
.container div{
    position: absolute;
    left: 0px;
    top: 0px;
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -ms-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
    left:0;
    top:0;
}
.block{
    border-radius: 10px;
    box-shadow: 1px 2px 1px  #666;
}

